* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
    --orange: orange;
}

body {
    margin: auto 10% ;
    background-color: #022a30;
    height: 100vh;
    color: var(--light);
    font-family: 'Helvetica', 'fira code';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /* background-color: gray; */
}
.logo img{
    /* background-color: red ; */
    /* height: 150px; */
}

.logo h1{
    font-size: 2rem;
    background-image: linear-gradient(to right, var(--pink), var(--purple), orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item {
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav-item button {
    background-color: orange;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 8px 30px;
    border-radius: 10px;
    background-image: linear-gradient(to ri);
    background-image: linear-gradient(to right, var(--pink), var(--purple), orange);
    /* -webkit-background-clip:padding-box;
    -webkit-text-fill-color: transparent; */
}

.nav-item button:hover {
    cursor: pointer;
    color: var(--darkest);
    background-image: none;
}


.nav-item ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
    align-items: center;

}

ul li a {
    text-decoration: none;
    color: white;
    /* background-color: var(--dark); */
    /* padding: 5px; */
}

ul li a:hover {
    color: var(--orange);
}


main{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content p {
    margin-top: 5px;
    /* text-align: center; */
    font-size: 1.2rem;
}

.content{
    width: 65%;
}

.image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: orange; */
    
}

.image img {
    width: 100%;
    height: 300px;
    /* width: auto; */
}

.skills {
    margin-top: 60px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.skills-content p{
    width: 90%;
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: justify;
}

.shtml{
    display: flex;
    flex-direction: column;
    /* justify-content: ; */


}
.outter {
    /* background-color: red; */
    width: 500px;
    height: 9px;
    border: 1px solid #e0f780;
    border-radius: 5px;
    /* opacity: 0.5; */
}
.inner {
    background-color: #deff58;
    height: 8px;
    border-radius: 5px;

}

.shtml .inner {
    width: 70%;
}
.js .inner {
    width: 60%;
}
.css .inner {
    width: 60%;
}
.c .inner {
    width: 80%;
}
.python .inner {
    width: 70%;
}
.flutter .inner {
    width: 50%;
}

h2 {
    font-size: 1.2rem;
}
.skill {
    margin-bottom: 10px;
}
.skills-content {
    margin: 10px 0;
}

.projects{
    margin-top: 50px;
}

.project-item{
    margin-top: 30px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.project-item-icon {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

}

.project-item-icon img{

    /* width: 300px; */
    height: 400px;
    
}

.project-item .left {
    /* width: 500px; */
    width: 50%;
}
.project-item .right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button {
    /* background-color: orange; */
    color: green;
    font-size: 1.2rem;
    font-family: 'Fira code', sans-serif;
    /* margin: 10px; */

}