* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(168, 33, 247) !important;
    color: white !important;
}
li a {
    color: white !important;
}

.brand-logo {
    width: 60px;

}

.btn {
    background: rgb(97, 0, 187) !important;
    color: white !important;
}

.doc-img {
    width: 100%;
    
}

.form-floating {
    color: rgb(168, 33, 247);
}

.form-control, select {
    margin-bottom: 10px;
    color: rgb(168, 33, 247) !important;
}
